<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="2">
    <parameter name="box1_hive" value="jdbc:hive2://localhost:10001"/>
    <parameter name="box1_meta" value="thrift://localhost:9001"/>
    <parameter name="box2_hive" value="jdbc:hive2://localhost:10002"/>
    <parameter name="box2_meta" value="thrift://localhost:9002"/>
    <test name="Test1">
        <classes>
            <class name="com.wandisco.hivesync.AbstractSuite"/>
            <class name="com.wandisco.hivesync.CommandsTest"/>
            <class name="com.wandisco.hivesync.BasicTest"/>
            <class name="com.wandisco.hivesync.DatabasesTest"/>
        </classes>
    </test>
</suite>
